---
import Layout from "../layouts/Layout.astro";
import Datetime from "../components/Datetime.astro";
---

<Layout title="Sync Up Time">
  <main class="bg-slate-100 h-screen w-screen">
    <Datetime />
  </main>
</Layout>
